server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/**

        # - id: todo-service
        #   uri: lb://todo-service
        #   predicates:
        #     - Path=/api/todos/**